/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  background-color: white;
  width: 20%;
  height: 100vh;
  margin-left: 10px;
}
.wrapperIcon{
 background-color: white;
 border: black;
 border-style: groove;
 justify-content: center;
 align-items: center;
}
.instagramLogo{
  /* height: 2%;
  width: 2%; */
}